{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Maureen</a>
      <div class="" id="navbarSupportedContent">
        <a href="{% url 'wishlist:logout' %}"><button class="btn btn-outline-secondary">Logout</button></a>
      </div>
    </div>
  </nav>

<h5>Name: </h5>
<b>{{name}}</b>

<table class="table">
    <tr>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Description</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_item %}
    <tr>
        <th>{{item.item_name}}</th>
        <th>{{item.item_price}}</th>
        <th>{{item.description}}</th>
    </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'wishlist:logout' %}"><button class="btn btn-outline-secondary">Logout</button></a>

{% endblock content %}